
.user-pic {
    height: 50px;
    width: 50px;
    cursor: pointer;
    margin-left: 10px;
    color: grey;
    justify-content: center;
    align-items: center;
    margin-top:-5px;

}

nav {
    background: black;
    width: 100%;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.item {
    padding: 7px;
}
.item:hover {
    background-color: gray;
    border-radius: 2px;
}

.search-bar {
    width: 600px;
    height: 45px;
    margin-left: 150px;
    border-radius: 5px;
    text-decoration: none;
}


.Options {
    width: 45%;
    text-align: right;
    display: flex;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    text-align: center;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 1%;
    width: 300px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu {
    max-height: 400px;
}

.sub-menu {
    background: #ffffff;
    padding: 20px;
    margin: 10px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info h3 {
    font-weight: 500;
}
.user-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu hr {
    border:0;
    height: 1px;
    width: 100%;
    background: #cccccc;
    margin: 15px 0 10px;
}
.sub-menu-link {
    display: flex;
    align-items:center;
    text-decoration: none;
    color:#525252;
    margin: 12px 0;
}
.sub-menu-link img {
    width:40px;
    height: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.sub-menu-link p {
    width: 100%;
}

.sub-menu-link:hover p {
    font-weight: 600;
}