.update-form{

    height: 968px;
    /*margin-left: 220px !important;*/

        margin-left: 300px;
        margin-right: auto;


}
.btn.btn-primary.center{

    margin-right: 400px;

}
.form-floating.mb-3.gender{
    width: 50%;
}

.editbtn {
    background-color: blue; /* blue */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: -250px; /* Adjust the position as needed */
    cursor: pointer;
    border-radius: 5px;
}

.editbtn:hover {
    background-color: #45a049; /* Darker green on hover */
}

.savebtn {
    background-color: blue; /* blue */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 20px; /* Adjust the position as needed */
    cursor: pointer;
    border-radius: 5px;
}

.savebtn:hover {
    background-color: #45a049; /* Darker green on hover */
}

