/* SearchComponent.css */
.search-container {
    position: relative;
    width: 50%;
    margin-left: 11.6%;
}

.search-input {
    width: 100%;
    padding: 15px; /* Increase padding for larger size */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Include padding in the width calculation */
}

.search-results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 50%;
    max-height: 300px;
    overflow-y: auto;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.search-results li {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-results li:hover {
    background-color: #e9e9e9;
}

.result-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.bold {
    font-weight: bold;
}

.event-link {
    display: flex;
    align-items: center;
    width: 100%;
    color: inherit;
    text-decoration: none;
}
