* {
  margin: 0px;
  font-family: "Times New Roman", Times, serif;
}
#logo {
  width: 150px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  position: relative;
  color: white;
  height: 120px;
}

.content {
  margin-left: -680px;
  margin-top: 30px;
}

.items {
  display: flex;
  list-style-type: none;
  text-align: center;
  padding: 20px 40px;
  gap: 50px;
  font-size: 18px;
  cursor: pointer;
}
.items :hover {
  transform: scale(1.1);
  color: blueviolet;
}
svg {
  width: 20px;
  height: 25px;
  padding-right: 5px;
}
