.user-poll {
  display: flex;
  flex-direction: column;
  align-items: normal;
  gap: 0.1em;
  box-sizing: border-box;
  flex-wrap: wrap;
  height: auto;
  width: 400px;
  color: black;
  background-color: rgb(224, 227, 232);
  margin: 0px;
  float: right;
}
.categories,
.artist,
.region,
.county {
  display: flex;
  align-items: center;
  margin-left: 40px;
}

p {
  margin-right: 20px;
}

#btnSubmit {
  margin-left: 30%;
}
#btnSubmit:hover {
  background-color: blueviolet;
}
#art {
  margin-right: 60px;
}
#region {
  margin-right: 50px;
}
#county {
  margin-right: 50px;
}
